/* FONTS */
h3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


.headline-home {
    background: url(../img/home.jpg) no-repeat 0% -10% fixed;
    padding: 200px 0 250px 0;
    margin-bottom: 10px;
    background-size: cover;
}

.title-img {
    margin-bottom: 400px;
    margin-top: -180px
}

.text-box {
    background: white;
    padding: 20px 80px;
}

.btn {
    border-radius: 6px;
    border: solid 1px;
    padding: 3px;
    color: grey;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.btn:hover {
    color: #0F8F6A ;
}

.contain-to-grid {
    border-bottom: 3px solid #0F8F6A;
    border-top: 3px solid #0F8F6A;
}

.footer-txt {
    font-weight: 500;
}

.mainbio{

    text-align: center;
    width: 1000px;
}

.membertitle{

    text-align: center;
}

.bioright{

    text-align: right;
    width: 500px;
}

.bioleft{

    text-align: left;
    width: 500px;
}

.memberleft{

    float: left;
}

.memberright{

    float: right;
}

.eventtitle{

    text-align: center;
}