/* ===== BACKGROUND ====== */
.bg-img { 
  background: url(../img/horizontal1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ====== NAVIGATION ===== */
.contain-to-grid {
    border-bottom: 3px solid #0F8F6A;
    border-top: 3px solid #0F8F6A;
}

.logo {
    margin-left: 12%; 
    margin-bottom: 5px;
    margin-top: 3px;  
    padding: 2px;    
}

.footer {
    background-color: #45494E;
}

.footer-txt {
    font-weight: 300;
    color: gray;
}

.icon {
    max-height: 30px;
}

.icon-ft {
    max-height: 24px;
}

/* ===== HOME ===== */
.bg-box {
    background: rgba(243,243,243,0.90);
    padding: 20px;
    margin-bottom: 10px;
}

.player {
    margin-top: 15px;
}

.title-img {
    margin-bottom: 60px;
    border-bottom: 3px solid #0F8F6A;
    padding-bottom: 5px;
}

.contain {
 /* background: url(../img/furley_bg.png) repeat; */
 /* background-color:  #F3F3F3; */
  border-top: 0px solid #0F8F6A;

}

.space {
    padding-top: 480px;
}

/* ======= ABOUT ====== */
.img-about {
    background: url(../img/about.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 350px;   
}



/* ====== FONTS / GLOBAL ======= */
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 10px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 10px;
}

a {
    color: #0F8F6A;
}

a:hover {
    font-weight: 500;
    color: #81B864;
}

.contact_img {
    margin-top: 20px;
}


.btn {
    border-radius: 2px;
    border: solid 2px;
    padding: 3px;
    color: #0F8F6A;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
}

.btn:hover {
    color: #81B864 ;
}

.gray-col {
    background-color: #F3F3F3;
    padding: 10px;
}

.contact-col {
    margin-top: 20px;
    background-color: #F3F3F3;
    padding: 15px;
}

.contact_bg {
    background: url(../img/contactbg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-img {
    margin-top: 20px;
}
