/* ===== BACKGROUND ====== */
.bg-img { 
  background: url(../img/about.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ====== NAVIGATION ===== */
.contain-to-grid {
    border-bottom: 3px solid #0F8F6A;
    border-top: 3px solid #0F8F6A;
}

.footer-txt {
    font-weight: 500;
}

/* ===== HOME ===== */
.bg-box {
    background: rgba(243,243,243,0.92);
    padding: 5px;
    margin: 5px;

}




/* FONTS / GLOBAL*/
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
    color: #0F8F6A;
}

a:hover {
    font-weight: 500;
    color: #81B864;
}






/* HOMEPAGE STYLES */ /*
.headline-home {
    background: url(../img/about.jpg) no-repeat 0% -20% fixed;
    padding: 200px 0 250px 0;
    margin-bottom: 10px;
    background-size: cover;
}

.title-img-home {
    margin-bottom: 400px;
    margin-top: -180px;
    border-bottom: 1px solid #0F8F6A;
}

.title-img {
    margin-top: -180px;
    border-bottom: 1px solid #0F8F6A;
}

*/

.btn {
    border-radius: 2px;
    border: solid 2px;
    padding: 3px;
    color: #0F8F6A;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
}

.btn:hover {
    color: #81B864 ;
}


/*

.headline-about {
    background: url(../img/about.jpg) no-repeat fixed;
    padding: 200px 0 300px 0;
    margin-bottom: 10px;
    background-size: cover;
}

.headline-events {
    background: url(../img/events.jpg) no-repeat fixed;
    padding: 200px 0 300px 0;
    margin-bottom: 10px;
    background-size: cover;
}

.headline-contact {
    background: url(../img/contact.jpg) no-repeat fixed;
    padding: 200px 0 300px 0;
    margin-bottom: 10px;
    background-size: cover;
}

.home-img {
    margin-top: -150px;
}
*/